fairseq==0.12.2
faiss-cpu==1.7.3
ffmpeg-python>=0.2.0
lib==4.0.0
praat-parselmouth
pedalboard
pyworld
soundfile
torchcrepe==0.0.23
yt_dlp
sox==1.4.1
audio-separator[gpu]==0.28.5
pydub==0.25.1
